<h2 class="title">
  My Applications
  <%= image_tag 'img_apps.png', class: 'mt-3 mb-5 float-right' %>
</h2>

<% if @applications.empty? %>
  <div class="container watermark">
    <span class="fs-20">You haven't applied to any place yet.</span>
  </div>

<% else %>
  <form method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <table class="table">
      <tbody>
        <% @applications.each do |item| %>
          <tr class="bluerow">
            <td class="text-center fs-18">
              <%= (item.creation_time || item.created_at).strftime('%B %d, %Y') %>
            </td>

            <td class="text-center fs-18">
              <% if item.place %>
                <a href="/Place/<%= item.place.id %>"><b><%= item.place.address %></b></a>
              <% else %>
                <i class="fs-17">Deleted by user</i>
              <% end %>
            </td>

            <td class="text-center">
              <span class="badge badge-primary">
                <%= case item.status
                    when 0, -2 then 'Declined'
                    when 1     then 'Invited'
                    when 2     then 'Payment requested'
                    else            'In progress'
                    end %>
              </span>
            </td>

            <td class="text-center">
              <button formaction="/MyApplications/Delete/<%= item.id %>"
                      class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </form>
<% end %>