<% selected_places.each do |showedplace| %>
  <% place = showedplace[:place] %>
  <li>
    <a href="/Place/<%= place.id %>"
       class="list-group-item list-group-item-action ad-preview">
      <div class="ad-thumb">
        <% if place.place_pictures.any? %>
          <%= image_tag place.place_pictures.first.thumbnail_url, class: 'imgpreview' %>
        <% else %>
          <%= image_tag 'default-place.png', class: 'imgpreview' %>
        <% end %>
      </div>

      <div class="ad-body">
        <div class="ad-top">
          <div>
            <p class="ad-rent"><%= place.formatted_rent %></p>
            <p class="ad-beds"><%= place.bedroom_label.upcase %></p>
          </div>
          <% if showedplace[:is_faved] %>
            <i class="heart fa-solid fa-heart faved"></i>
          <% else %>
            <i class="heart fa-regular fa-heart"></i>
          <% end %>
        </div>

        <p class="ad-address"><%= place.address %></p>
      </div>

      <p class="d-none"><%= place.gps_longitude %></p>
      <p class="d-none"><%= place.gps_latitude %></p>
      <p class="d-none"><%= place.id %></p>
    </a>
  </li>
<% end %>