<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Demenaji' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag(
      "bootstrap.min",
      "ion.rangeSlider.min",
      "bootstrap-theme.min",
      "mapbox-gl.min"
    ) %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pictures", "data-turbo-track": "reload" %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  
  <body>
    <header>
      <nav id="headbar" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow navbar-light bg-light">
        <div style="position:fixed;" class="col-7 col-sm-8 col-xl-8 pr-0">
          <div class="row">
            <div class="col-3 col-sm-4 col-lg-6">
              <div class="row">
                <div class="col-6 mt-1 pl-0 pr-0">
                  <a class="navbar-brand d-block" href="<%= root_path %>">
                      <%= image_tag 'pm-logo.png', height: "45", class: 'd-none d-lg-block pl-2 pt-1' %>
                      <%= image_tag 'favicon.ico', height: "45", class: 'd-lg-none pl-2 pt-1 float-left' %>
                  </a>
                </div>
                <div class="col-6 mt-1 pl-0 pr-0 d-none d-xl-flex" style="justify-content:center;">
                  <% if signed_in? %>
                    <a href="<%= create_place_path %>" class="btn btn-add-place"><b class="plussign">+</b> <b>Annonce</b></a>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group has-search col-9 col-sm-8 col-lg-6 mt-3 pl-0 pr-0">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="search" class="form-control ds-input" id="search-input" placeholder="Où ça ?" autocomplete="off" spellcheck="false">
            </div>
          </div>
        </div>
        <div style="position:fixed;" class="offset-7 offset-sm-8 col-5 col-sm-4 col-xl-4 pr-0 pl-0">
          <div class="float-right navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
            <%= render 'shared/login_partial' %>
          </div>
        </div>
      </nav>
    </header>

    <main id="main" role="main" class="pb-5">
      <% if flash[:notice] %><div class="container pt-4"><p class="fs-17"><%= flash[:notice] %></p></div><% end %>
      <% if flash[:alert] %><div class="container pt-4"><p class="fs-17 text-danger"><%= flash[:alert] %></p></div><% end %>
      <% if content_for?(:mainpage) %>
        <%= yield :mainpage %>
      <% else %>
        <div class="container"><%= yield %></div>
      <% end %>
    </main>

    <footer class="text-center border-top footer text-muted fixed-bottom">
      <small>&copy; 2026 - Demenaji </small>
    </footer>

    <%= javascript_include_tag "jquery.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "bootstrap.bundle.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "mapbox-gl.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "jquery.mapbox.geocoder.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "ion.rangeSlider.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turf.min", "data-turbo-track": "reload" %>
    <script>
      mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_ACCESS_TOKEN', 'pk.eyJ1IjoibW9tbzIwMjYiLCJhIjoiY21uNGxxN3RpMDE5ejJycjU0NzhsM29wbCJ9.FDwTbOK2DuGBZE31YOjWpg') %>';
      window.mapboxStyleUrl = '<%= ENV.fetch('MAPBOX_STYLE_URL', 'mapbox://styles/mapbox/streets-v10') %>';
      window.defaultIconUrl = '<%= asset_path('default-icon.png') %>';
      window.redIconUrl     = '<%= asset_path('red-icon.png') %>';
    </script>
    <%= yield :scripts %>
    <%= javascript_importmap_tags %>
  </body>
</html>
