<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Demenaji' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag asset_path('favicon.ico') %>


    <%= stylesheet_link_tag(
      "bootstrap.min",
      "ion.rangeSlider.min",
      "mapbox-gl.min"
    ) %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pictures", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "messaging", "data-turbo-track": "reload" %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

  </head>
  
  <body>
  <header>
    <nav id="headbar" class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow fixed-top">
      <div class="container-fluid px-3 px-lg-4">

        <a class="p-0 me-3 me-lg-4" href="<%= root_path %>">
          <%= image_tag 'logo.png', height: "45", class: "d-none d-md-block" %>
          <%= image_tag 'favicon.ico', height: "45", class: "d-md-none" %>
        </a>

        <% if signed_in? %>
          <a href="<%= create_place_path %>" 
            class="btn btn-add-place d-none d-xl-flex align-items-center gap-2 me-4">
            <b class="plussign">+</b> 
            <span>Annonce</span>
          </a>
        <% end %>

        <div class="flex-grow-1 mx-2 mx-lg-4" style="max-width: 560px;">
          <div class="form-group has-search position-relative mb-0">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" 
                  class="form-control ds-input" 
                  id="search-input" 
                  placeholder="Où ça ?" 
                  autocomplete="off" 
                  spellcheck="false">
          </div>
        </div>

        <div class="ms-auto">
          <%= render 'shared/login_partial' %>
        </div>

      </div>
    </nav>
  </header>

    <main id="main" role="main" class="pb-5">

      <% if flash.any? %>
        <div id="flash-container" class="position-fixed top-0 start-50 translate-middle-x w-100" style="z-index: 1050; pointer-events: none;">
          <div class="d-flex flex-column align-items-center mt-3">
            <% flash.each do |type, message| %>
              <% color = case type
                when 'notice'  then 'success'
                when 'alert'   then 'danger'
                when 'error'   then 'danger'
                when 'warning' then 'warning'
                when 'info'    then 'info'
                else 'secondary'
              end %>

              <div class="alert alert-<%= color %> alert-dismissible fade show" role="alert" style="pointer-events: auto; min-width: 300px;">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if content_for?(:mainpage) %>
        <%= yield :mainpage %>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    </main>

    <footer class="text-center border-top footer text-muted fixed-bottom">
      <small>&copy; Demenaji <%= Time.current.year %></small>
    </footer>

    <div id="avatar-modal">
      <img id="avatar-modal-img" src="" alt="">
    </div>

    <%= javascript_include_tag "jquery.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "bootstrap.bundle.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "mapbox-gl.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "jquery.mapbox.geocoder.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "ion.rangeSlider.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turf.min", "data-turbo-track": "reload" %>
    <script>
      mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_ACCESS_TOKEN', 'pk.eyJ1IjoibW9tbzIwMjYiLCJhIjoiY21uNGxxN3RpMDE5ejJycjU0NzhsM29wbCJ9.FDwTbOK2DuGBZE31YOjWpg') %>';
      window.mapboxStyleUrl = '<%= ENV.fetch('MAPBOX_STYLE_URL', 'mapbox://styles/mapbox/streets-v10') %>';
      window.defaultIconUrl = '<%= asset_path('default-icon.png') %>';
      window.redIconUrl     = '<%= asset_path('red-icon.png') %>';
    </script>
    <%= yield :scripts %>
    <%= javascript_importmap_tags %>
  </body>
</html>
